.imageSelector
  width: 100%
  margin-bottom: 1em !important
  background-color: white

  .item
    cursor: pointer
    transition-duration: .5s
    transition-timing-function: ease
    filter: brightness(1)

    &:hover
      filter: brightness(1.4)

    &:active
      filter: brightness(1.6)