@import './image_selector'

.dialog
  padding: 1em
  display: flex
  flex-direction: column
  align-items: center
  font-family: Roboto, sans-serif

  .presetSelector
    @extend .imageSelector

  .sceneSetupSection
    display: flex
    flex-direction: row
    align-self: flex-end
    align-items: baseline

    .sceneSetupButton
      margin-left: 1em

      .icon
        margin-left: .5em