.main
  display: flex
  flex-direction: row
  min-width: 11em
  align-items: flex-start

  .sliderContainer
    display: flex
    flex-direction: column
    flex-grow: 1

    .slider
      box-sizing: border-box

    .labels
      display: flex
      flex-direction: row
      justify-content: space-between
      padding-left: 7.5px
      padding-right: 7.5px

      .tickedLabel
        display: flex
        flex-direction: column
        align-items: center
        position: relative

        .tick
          background-color: rgba(0, 0, 0, .2)
          width: 1px
          height: .5em
          margin-top: -1em
          margin-bottom: 1em

        .label
          font-family: Roboto, sans-serif
          font-size: .7em
          color: grey
          height: 0
          line-height: 0
          width: 3em
          text-align: center
          position: absolute

  .textField
    flex-basis: 30%
    text-align: center
    margin-left: .5em

    input
      text-align: center

