@import '../app'
@import './image_selector'

.dialog
  padding: 1em
  display: flex
  flex-direction: column
  align-items: center
  font-family: Roboto, sans-serif

.directive
  font-size: 1em
  margin-bottom: 1em

.mobileStepperContainer
  display: flex
  flex-direction: column
  align-items: stretch
  flex-shrink: 0

  .mobileStepperCaption
    text-align: center
    padding-bottom: 1em

  .mobileStepper
    padding-bottom: 0
    background: white !important

.stepper
  flex-shrink: 0

  .step
    cursor: pointer

  .stepperStepCaption
    text-align: center

.pages
  overflow-y: auto
  overflow-x: hidden
  background-color: rgba(0, 0, 0, .1)

.backgroundSelector
  @extend .imageSelector

.fluidSelector
  display: flex
  flex-direction: row
  flex-wrap: wrap
  background-color: white

  .item
    width: 50%

.initialConditionSelector
  @extend .imageSelector

.parametersTab
  min-height: 30em
  overflow-x: hidden

  .header
    display: flex
    flex-direction: row
    align-items: center
    background-color: white
    padding: 1em

    @media screen and (max-width: $sm)
      flex-direction: column
      padding-bottom: .5em

      button
        margin-top: .5em

  .sectionSummary
    @media screen and (max-width: $sm)
      flex-direction: column

    .sectionHeading
      font-size: 1em
      flex-basis: 33.33%

    .sectionSecondaryHeading
      font-size: 1em
      color: gray

  .parameterSection
    @media screen and (max-width: $sm)
      padding-right: 0
      padding-left: 0

    .parameterRow
      display: flex
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between

      .parameterName
        @media screen and (max-width: $sm)
          padding: 0

      .parameterHeader
        flex-shrink: 0
        width: initial

      .parameterAction
        position: initial
        align-self: stretch
        transform: none
        display: flex
        flex-grow: 1
        justify-content: flex-end
        align-items: center