@import '../app'

.overlayBar
  pointer-events: none
  display: flex
  flex-direction: row
  justify-content: center
  position: absolute
  width: 100%
  align-items: center
  box-sizing: border-box
  transition-duration: .5s
  transition-timing-function: ease-in

  @media screen and (max-width: $sm)
    flex-direction: column
    align-items: center

  .heading
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

  .content
    display: flex
    flex-direction: row
    align-items: center

  &:not(.top)
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, .5) 30%, black 100%) no-repeat 0 10em
    padding-top: 2em
    padding-bottom: 1em
    bottom: 0

  &.top
    background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, .5) 30%, black 100%) no-repeat 0 -10em
    padding-bottom: 2em
    padding-top: 1em
    top: 0


  &.open
    background-position: 0
    pointer-events: all
    transition-timing-function: ease-out
    transition-delay: 0s

  &>*
    transition-duration: .2s
    transition-timing-function: ease-out
    transition-delay: .3s
    transform: translateY(0)

  &:not(.open)>*
    transform: translateY(10em)
    transition-timing-function: ease-in
    transition-delay: .0s

  &.top:not(.open)>*
    transform: translateY(-10em)


.closeButton
  opacity: .5

.icon
  height: 1.2em
  width: 1.2em
  color: white
  margin-right: 1em
