@import '../app'

$icon-size: 7em
@media screen and (max-width: $sm)
  $icon-size: 4em

.splash
  max-width: 50em !important
  display: flex
  flex-direction: column
  align-items: center
  padding: 1em
  font-family: Roboto

.logo
  display: flex
  flex-direction: row
  align-items: center

  @media screen and (max-width: $sm)
    flex-direction: column

  .icon
    width: $icon-size
    height: $icon-size
    margin-right: 2em
    @media screen and (max-width: $sm)
      margin-right: 0
      margin-bottom: 1em

  .title
    display: flex
    flex-direction: column
    align-items: flex-start
    font-family: Roboto, sans-serif
    white-space: nowrap
    color: $primary-color
    @media screen and (max-width: $sm)
      align-items: center

    .realTime
      font-size: 2em
      @media screen and (max-width: $sm)
        font-size: 1em
      line-height: initial
      font-weight: normal

    .thinFilms
      font-size: 3em
      @media screen and (max-width: $sm)
        font-size: 1.5em
      line-height: initial
      font-weight: bolder

.attribution
  display: flex
  flex-direction: row
  justify-content: space-around
  align-items: center
  padding: 1em
  margin-bottom: 1em
  cursor: pointer
  font-family: "Roboto Slab"

  @media screen and (max-width: $sm)
    flex-direction: column

  &:hover
    background-color: transparentize($secondary-color, .95)

  .paper
    color: $secondary-color
    display: flex
    flex-direction: row
    align-items: center
    position: relative

    .description
      font-size: .6em
      text-transform: uppercase
      font-weight: bold
      color: rgba(0, 0, 0, .2)
      position: absolute
      text-align: left
      bottom: 80%

      @media screen and (max-width: $sm)
        text-align: center
        width: 100%

    .title
      display: flex
      flex-direction: column
      align-items: flex-start
      margin-left: .5em

      .year
        font-size: .6em
        color: $secondary-color
        top: 100%

      .name

  .divider
    background-color: rgba(0, 0, 0, .1)
    width: 1px
    height: 1.5em
    margin-left: 1em

    @media screen and (max-width: $sm)
      width: 100%
      height: 1px
      margin-top: .4em

  .authors
    display: flex
    flex-direction: row

    @media screen and (max-width: $sm)
      flex-direction: column
      flex-wrap: wrap
      justify-content: center
      align-content: center

    .author
      display: flex
      flex-direction: column
      align-items: center
      margin-left: 1em
      text-align: center

      @media screen and (max-width: $sm)
        margin-left: 0
        margin-top: .4em

      .name
        //text-transform: uppercase

      .affiliation
        font-size: .6em
        text-align: center
        opacity: .7


.description
  font-size: 1.2em
  margin-bottom: 1em
  text-align: center
  width: 80%