.canvasContainer
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  background: #2b2b2b

  canvas
    pointer-events: none
    box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, .5)
    cursor: pointer

  &.dewetting canvas
    cursor: crosshair

  &.stopped
    background: none
