$primary-color: map-get($colors, primary)
$secondary-color: map-get($colors, secondary)

body, html
  height: 100%
  padding: 0
  margin: 0
  overflow: hidden

$xs: 0px
$sm: 600px
$md: 960px
$lg: 1280px
$xl: 1920px

em
  color: $secondary-color
  font-style: normal