@import "app"

.app
  background-size: cover
  width: 100%
  height: 100%
  transition-duration: .5s
  transition-timing-function: ease
  position: relative
  overflow: hidden
  box-sizing: border-box
  border: 0em solid $secondary-color

  &.unfocused
    filter: blur(1em)
    transform: scale(1.05)

  .frameRateCounter
    color: white
    position: absolute
    background: #192f36
    font-family: Roboto, sans-serif
    padding: .5em
    border-radius: .5em
    margin: .5em
    min-width: 2em
    text-align: center
    box-shadow: 0 0.5em 1.5em rgba(0, 0, 0, .5)
    display: flex
    flex-direction: column
    align-items: center
    pointer-events: none
    user-select: none

    .caption
      pointer-events: none
      user-select: none
      font-size: .6em
      color: rgba(255, 255, 255, .5)

  .simulation
    position: absolute

  .mainControls
    display: flex
    flex-direction: row-reverse
    align-items: flex-end
    position: absolute
    right: 1em
    bottom: 1em

    .speedDial

    .playPauseButton
      margin-right: 1em

  &.paused
    border-width: 1em
    .playPauseButton

.loadingScreen
  background: $primary-color
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: absolute
  z-index: 1000000
  width: 100%
  height: 100%

  .icon
    filter: brightness(100)
    width: 4em
    height: 4em
    margin: 1em

  .indicator
    color: rgba(255, 255, 255, .5)

  &.loaded
    pointer-events: none
    opacity: 0
    transition-delay: 1s
    transition-duration: 1s
    transition-timing-function: ease

    .indicator
      opacity: 0
      transition-duration: 1s
      transition-timing-function: ease